.title {
    font-family: Poppins,sans-serif;
    color:#2d2e32;
    font-size: 1.17em;
}
.navbar {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 10px;
    width:100%;
   
   z-index: 200;
   background-color: white;
}

.bar:hover{
color:rgba(0, 0, 255, 0.692);
}

.link:hover {
    color:rgba(0, 0, 255, 0.692);
}

.menu {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    height:100vh;
    width:100%;
    background-color: white;
    z-index:-1;
}